html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

/*Navbar*/
nav {
    background: #111;
    color: white;
    padding: 20px 50px;
}
.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search {
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 10px;
}
.searchInput {
    background-color: transparent;
    border: none;
}
.searchInput::placeholder {
    color: whitesmoke;
}
.limitedOffer {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem {
    margin-right: 20px;
    color: lightgray;
    font-weight: 400;
    cursor: pointer;
}


/*first content ads*/
.slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}
.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
}
.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sliderBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
}
.sliderImg, .sliderTitle, .sliderPrice, .buyButton {
    z-index: 1;
}
.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
}
.sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: white;
    border: 1px solid lightgray;
}
.buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    background-color: black;
    border: 1px solid lightgray;
    cursor: pointer;
}
.buyButton:hover {
    background-color: whitesmoke;
    color: black;
}
/*shoes background color*/
.sliderItem:nth-child(1) .sliderBg {
    background-color: #369e62;
}
.sliderItem:nth-child(2) .sliderBg {
    background-color: rebeccapurple;
}
.sliderItem:nth-child(3) .sliderBg {
    background-color: teal;
}
.sliderItem:nth-child(4) .sliderBg {
    background-color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderBg {
    background-color: rgb(125, 115, 85)
}

/*Price background color*/
.sliderItem:nth-child(1) .sliderPrice {
    color: #369e62;
}
.sliderItem:nth-child(2) .sliderPrice {
    color: rebeccapurple;
}
.sliderItem:nth-child(3) .sliderPrice {
    color: teal;
}
.sliderItem:nth-child(4) .sliderPrice {
    color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderPrice {
    color: rgb(125, 115, 85)
}


/* web page features styling*/
.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.featureIcon {
    height: 50px;
    width: 50px;
}
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 1px solid black; */
}
.featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
.featureDesc {
    color: grey;
    width: 50%;
    height: 100px;
}


/* Buy product styling section */
.product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
.producImg {
    width: 50%;
}
.productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}
.productTitle {
    font-size: 75px;
    font-weight: 900;
}
.productDesc {
    color: grey;
    font-weight: 24px;
}
.colors, .sizes {
    display: flex;
    margin-bottom: 20px;
}
.color {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: black;
    cursor: pointer;
}
.color:last-child {
    background-color: darkblue;
}
.size {
    border: 1px solid black;
    padding: 5px 20px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.productBtn {
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
    /* transition: .5s ease-in-out; */
}
.productBtn:hover {
    color: black;
    background-color: whitesmoke;
    /* transform: translateX(100vh); */
}